<div id="new_user_block" class="block">
    <h3 id="new_user_block_heading" class="block_heading">Getting Started</h3>

    <img id="new_user_block_graphic" src="images/BleedingGoblin_med.png" class="block_graphic" />

    <p>
    Before you start slaughtering goblins...
    </p>
    <p>
        <%= link_to 'Create your first character', new_character_url %>
    </p>
</div>
