<h1>Login</h1>

<%= form_for(@user_session) do |f| %>

  <div class="field">
    <%= f.text_field :email, :class => "login_input login_email default_text", :title => "e-mail address" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :class => "login_input login_password default_text", :title => "password" %>
  </div>
  
  <div class="actions">
    <input type="submit" id="login_submit" value="Login" class="login_button" />
  </div>
<% end %>

